<html data-ng-app="algxApp" data-ng-controller="algxController">
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="minimal-ui" />

  <title data-ng-bind="alg | title:title">alg.cubing.net</title>
  <link rel="search" type="application/opensearchdescription+xml" href="searchDescription.xml" title="alg.cubing.net"/>

  <link href="alg.css" rel="stylesheet" type="text/css" />

  <!-- twisty.js libraries and code -->
  <script src="twisty.js/lib/jquery-1.11.0.min.js"></script>
  <script src="twisty.js/lib/RequestAnimationFrame.js"></script>
  <script src="twisty.js/lib/Three.js"></script>
  <script src="twisty.js/twisty.js"></script>
  <script src="twisty.js/alg/alg_jison.js"></script>
  <script src="twisty.js/alg.js"></script>
  <script src="twisty.js/puzzles/cube.js"></script>

  <!-- alg.cubing.net libraries and code -->
  <script src="lib/angular.js"></script>
  <script src="lib/elastic.js"></script>
  <script src="alg.js"></script>

</head>
<body>

  <div id="display-wrapper" data-ng-class="{'fullscreen': view.fullscreen}">

    <div id="viewer">
    </div>

    <div id="controls-wrapper">
      <div id="controls">

        <input id="currentMove" data-ng-model="current_move" type="range" min="0" max="1" step="0.01"><br>

        <button class="control" id="reset" title="Reset">
          &#x2759;&#9664;
        </button><button class="control" id="back" title="Back (1 move)">
          &larr;
        </button><button class="control" id="play" title="Play" data-ng-show="!animating">
          &#9654;
        </button><button class="control" id="pause" title="Pause" data-ng-show="animating">
          &#x2759;&#x2759;
        </button><button class="control" id="forward" title="Step forward (1 move)">
          &rarr;
        </button><button class="control" id="skip" title="Skip to End">
          &#9654;&#x2759;
        </button>
      </div>
    </div>

  </div><div id="info-wrapper" data-ng-show="view.infoPane">
    <div id="info">

      <h1>
        <textarea
          id="title"
          data-msd-elastic
          data-ng-trim="false"
          data-ng-model="title"
          placeholder="alg.cubing.net [beta]"
        ></textarea>
      </h1>

      <div data-ng-show="!(view.id == 'playback' && setup == '')">
        <h2 data-ng-bind="type.setup">Setup</h2>
        <textarea
          id="setup"
          class="moves"
          data-ng-model="setup"
          data-ng-trim="false"
          data-ng-class="{'invalid': !setupValid, 'hoverHighlight': view.hightlightMoveFields}"
          data-msd-elastic
          placeholder="[Click here to add {{type.setup_moves}}.]"
        ></textarea>
      </div>

      <div>
        <h2 data-ng-bind="type.alg">Algorithm</h2>
        <textarea
          id="algorithm"
          class="moves"
          data-ng-model="alg"
          data-ng-trim="false"
          data-ng-class="{'invalid': !algValid, 'hoverHighlight': view.hightlightMoveFields}"
          data-msd-elastic
          placeholder="[Click here to add {{type.alg_moves}}.]"
        ></textarea>
        </div>

      <div data-ng-show="view.extraControls">

        <div>

          <h2>Settings</h2>
          <div class="section">
            <select
              data-ng-model="puzzle"
              data-ng-options="p.name group by p.group for p in puzzle_list"
            ></select><select
              data-ng-model="stage"
              data-ng-options="s.name group by s.group for s in stage_list"
              data-ng-disabled="puzzle.name != '3x3x3'"
            ></select><select
              data-ng-model="type"
              data-ng-options="a.name group by a.group for a in type_list"
            ></select>

            <br>
            Color Scheme:

            <select data-ng-model="scheme" data-ng-options="s.name for s in scheme_list"></select>
            <!--label data-ng-repeat="s in schemes">
              <input
                type="radio"
                data-ng-model="$parent.scheme"
                data-ng-value="s"
              />
              {{s.display}}
            </label-->
            <input class="current_scheme" type="text" data-ng-model="custom_scheme" data-ng-show="scheme.custom" data-ng-value="scheme.scheme"/>
            <input class="current_scheme" type="text" data-ng-show="!scheme.custom" data-ng-readonly="true" data-ng-value="scheme.scheme"/>
          </div>

          <div>
            <h2>Playback Options</h2>
            <div class="section">
              Speed: <input type="range" min="0.1" max="3" step="0.1" style="vertical-align: middle;" data-ng-model="speed"> (<span data-ng-bind="speed">1</span>x)<br>
              <input id="hint_stickers" type="checkbox" data-ng-model="hint_stickers" /> <label for="hint_stickers">Hint Stickers</label>
              <input id="hollow" type="checkbox" data-ng-model="hollow" /> <label for="hollow">Hollow</label>
            </div>
          </div>

          <div>
            <h2>Tools</h2>
            <div class="section">
              <span title="h = obtm, q = obqtm, s = btm, e = etm">Moves:
                <span data-ng-bind="obtm">0</span>h,
                <span data-ng-bind="obqtm">0</span>q,
                <span data-ng-bind="btm">0</span>s,
                <span data-ng-bind="etm">0</span>e
              </span><br>
              <button data-ng-click="expand();">Expand</button><button
                data-ng-click="simplify();">Simplify</button><button
                data-ng-click="invert();">Invert</button><button
                data-ng-click="image();">Image</button>
              <div id="canvasPNG"></div>
            </div>
          </div>

          <h2>Forum Link</h2>
          <div data-ng-show="! type.reconstruction">
            <input type="text"
              class="sharetext"
              readonly="readonly"
              data-ng-model="share_forum_short"
              onclick="this.focus(); this.select();"
              value="[Short forum link will appear here.]"/>
          </div>
          <div data-ng-show="type.reconstruction">
            <textarea class="sharetext"
              readonly="readonly"
              onclick="this.focus(); this.select();"
              data-ng-bind="share_forum_long"
            >
              [Long forum link will appear here.]
            </textarea>
          </div>

          <h2>About</h2>
          <div class="section">
            <a href="https://github.com/cubing/alg.cubing.net/issues/51" target="_blank">List of features</a>.
            <br>
            Contribute <a href="https://github.com/cubing/alg.cubing.net">on GitHub</a>, discuss at <a href="http://www.speedsolving.com/forum/showthread.php?46468-alg-cubing-net">speedsolving.com</a>, or <a href="https://docs.google.com/forms/d/185FAYdA9MWAgZ87WjTFIMDxNLFwDlysqbL7tyRVb9C4/viewform" target="_blank">send feedback</a>.
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
</html>