<html ng-app ng-controller="algxController">
<head>
  <script src="inc/angular.js"></script>
  <script src="inc/alg.js"></script>
  <link href="inc/alg.css" rel="stylesheet" type="text/css" />

</head>
<body>

  <div id="display-wrapper">
    <div id="viewer">
    </div><div id="controls-wrapper"><center><div id="controls">

      <input id="currentMove" type="range" min="0.1" max="3" step="0.01" value="1"><br>

      <div class="control">
        &larr;
      </div><div class="control">
        &bull;
      </div><div class="control">
        &#9654;
      </div><div class="control">
        &#x2759;&#x2759;
      </div><div class="control">
        &rarr;
      </div>
    </center></div>

  </div><div id="info-wrapper"><div id="info">

    <h1>alg.cubing.net<hr></h1>

    <h2>Scramble</h2>
    <textarea id="setup" class="moves" ng-model="setup"></textarea>

    <h2>Solution</h2>
    <textarea id="algorithm" class="moves" ng-model="alg"></textarea>

    <h2>Settings</h2>
    <div id="settings">
      <select ng-model="puzzle" ng-options="p.name group by p.type for p in puzzles"></select>
      <select ng-model="stage" ng-options="s.name group by s.type for s in stages"></select>
      <select ng-model="animtype" ng-options="a.name group by a.type for a in animtypes"></select>

      <br>
      Color Scheme:

      <select ng-model="scheme" ng-options="s.name for s in schemes"></select>
      <!--label ng-repeat="s in schemes">
        <input
          type="radio"
          ng-model="$parent.scheme"
          ng-value="s"
        />
        {{s.display}}
      </label-->
      <input class="current_scheme" type="text" ng-model="custom_scheme" ng-show="scheme.custom" ng-value="scheme.scheme"/>
      <input class="current_scheme" type="text" ng-show="!scheme.custom" ng-readonly="true" ng-value="scheme.scheme"/>

      <br>
      Speed: <input id="currentMove" type="range" min="0.1" max="3" step="0.01" style="vertical-align: middle;" ng-model="speed"> ({{speed}}x)
      <br>
    </div>

    <h2>Share</h2>
      <input
        type="text"
        id="copyurl"
        class="sharetext"
        readonly="readonly" value="[url=&quot;http://alg.garron.us/?alg=R&amp;cube=4x4x4&amp;notation=WCA&amp;animtype=solve&amp;scheme=groybw&amp;stage=F2L&amp;displines=0&quot;]R[/url]" onclick="this.focus();this.select();"
      >

    <h2>About</h2>
    <p>
    <i>alg.cubing.net</i> is a tool by Lucas Garron.<br>
    Contribute on <a href="https://github.com/lgarron/alg.garron.us">on GitHub</a> or discuss at <a href="http://www.speedsolving.com/forum/forum.php">speedsolving.com</a>
    </p>

  </div></div>
  </body>
</html>